<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>Git-Excel</title>
    <link href="//fonts.googleapis.com/css?family=Crimson+Text:400,700,400italic" rel="stylesheet" type="text/css">
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/codemirror.css">
    <script src="/codemirror.js"></script>
    <script src="/mode/loadmode.js"></script>
    <script src="/mode/meta.js"></script>
    <script src="/channel/bcsocket.js"></script>
    <script src="/share.js"></script>
    <script src="/share-codemirror.js"></script>
    <script src="/hello.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <img height="42" width="42" alt="Brand" src="{{user._json.avatar_url}}">
          </a>
          <p class="navbar-text navbar-right">Signed in as <a href="{{user.profileUrl}}" target="_blank" class="navbar-link">{{user.displayName}} (@{{user.username}})</a>
          <a href="/logout" class="navbar-link">Logout</a>
          </p>
        </div>
      </div>
    </nav>
    <div id="js-content"></div>
    <script src="/app/js-dist/bundle.js"></script>
  </body>
</html>
